.container
  .col-md-12
    .col-md-6.col-md-offset-3#user-header
      %h1#user-name= "#{current_user.first_name.titleize}'s Todo List"
    .new-item
      = render partial: 'items/form', locals: { user: @user, items: @items }
      - if @items
        = javascript_include_tag "items"
    .col-md-10.col-md-offset-2
      .js-items#incomplete
        = render @incomplete_items
      .js-items#complete
        = render @completed_items
        