= div_for(item, class: 'container', id: "item-#{item.id}") do
  .row
    .col-md-1#mark-complete
      = link_to "", [item.user, item], :controller => 'items', :action => "update", :id => @item, class: 'glyphicon glyphicon-ok', method: :patch, remote: true
    .col-md-5#item-container
      - if item[:completed] == true
        %strike
          %h4= item.title
          %p= item.created_at
      -else
        %h4= item.title
        %p= item.created_at
    .col-md-1#delete
      = link_to "", [item.user, item], method: :delete, class: 'glyphicon glyphicon-trash', remote: true